.signUp {

}

.logIn {
  background: #1877F2;
}

.frgtPwd {
    color: #1877F2;
    font-weight: normal;
    margin-top: -10px;
  }
  .redMessage {
    margin-top: 20px;
    color: red;
    font-weight: normal;
    
  }
  .greenMessage {

    margin-top: 20px;
    color: green;
    font-weight: normal;
}

